body {
	font-family: "Inter", sans-serif;
	background-color: #F7FBFF;
	color: #1E293B;
}

h1, h2, h3, h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 600 !important;
}

a {
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}
